html{
    background-color: darkslateblue;
}

body{
    background-color: darkslateblue;
}
header h1{
    text-shadow: 7px 3px 3px #01005f;    
}
header {
    text-align: center;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 50px;
    color: white;
    margin-top: 3%;
}

.card{
margin: 5% auto;
}

.card-title{
    margin: auto;
}

.card{
    box-shadow: 10px 5px 5px #01005f;    
}

.card-body {
  background-color: #1d3146;
  color: white;
}