body {
    background-color: #0f0f12;
    margin: 0;
    color: antiquewhite;
    font-family: 'Segoe UI', system-ui, sans-serif;
}

header {
    text-align: center;
    padding: 20px 0;
}

header a {
    text-decoration: none;
    color: #00ff85;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 7px 3px 3px #01005f;
}

aside {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

aside a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 4px #000;
    transition: 0.3s;
}

aside a:hover {
    color: #00ff85;
}