body{
    background-color: darkslateblue;
}

header h1{
    text-shadow: 7px 3px 3px #01005f;
    color: white;
    margin-top: 50px;
}
header {
    text-align: center;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 50px;
    margin-top: 3%;
}

aside{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin:0 auto 20px auto;
}

aside a{
    text-decoration: none;
    color: white;
    text-shadow: 7px 3px 3px #01005f;
    font-size: 35px;
}    