<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header>
    <h1><a href="/">WELOVEPALACE</a></h1>
</header>

<main>
    <h2>Create account</h2>

    <form id="registerForm">
        <input id="reg-username" placeholder="Username" required>
        <input id="reg-password" type="password" placeholder="Password" required>
        <button type="submit">Register</button>
    </form>

    <script src="/auth.js"></script>


    <p>
        Already have an account?
        <a href="/login">Login here</a>
    </p>
</main>

<script src="/auth.js"></script>
</body>
</html>
